/* Common styles for all screen sizes */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Responsive styles */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 80%;
  margin: auto;
}

.button-div {
  display: flex;

  justify-content: space-between;
  width: 50%;
  margin: auto;
  
}

.btn {
  padding: 8px 17px;
  color: #fff;
  background-color: rgb(240, 66, 66);
  border: none;
  font-weight: 800;
  margin-bottom: 10px; /* Add margin for better spacing on small screens */
}

.input {
  padding: 10px 20px;
  margin-bottom: 10px; /* Add margin for better spacing on small screens */
}

.btn_search {
  padding: 10px 20px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(197, 61, 61);
  margin-bottom: 10px; /* Add margin for better spacing on small screens */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .button-div {
    width: 80%;
    margin: auto;

  }
}
