.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin: auto;
}
.button-div {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}
.btn{
  padding: 8px 17px;
  color: #fff;
  background-color: rgb(240, 66, 66);
  border: none;
  font-weight: 800;
}
.input {
  padding: 10px 80px;
}
.btn_search{
padding: 10px 20px;
font-weight: 600;
color: #fff;
background-color: rgb(197, 61, 61);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
